/obj/x86/Debug/App.g.i.cs
/obj/x86/Debug/MainPage.g.i.cs
/obj/x86/Debug/Pill Popper.csprojAssemblyReference.cache
/obj/x86/Debug/XamlSaveStateFile.xml
obj/x86/Debug/App.g.i.cs
obj/x86/Debug/MainPage.g.i.cs
obj/ARM/Debug/Pill Popper.csprojAssemblyReference.cache
*.ide
*.sqlite
*.sqlite
*.ide-wal
*.ide-shm
*.vs
.vs/Pill Popper/v16/Server/sqlite3/db.lock
obj*
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/Pill-Popper/v16/.suo
.vs/Pill-Popper/v16/.suo
.vs/slnx.sqlite
Pill Popper/obj*
obj/ARM/*
*.sqlite
.vs/Pill Popper/v16/.suo
