*.sqlite
/obj/x86/Debug/App.g.i.cs
/obj/x86/Debug/MainPage.g.i.cs
/obj/x86/Debug/Pill Popper.csprojAssemblyReference.cache
/obj/x86/Debug/XamlSaveStateFile.xml
obj/x86/Debug/App.g.i.cs
obj/x86/Debug/MainPage.g.i.cs
obj/ARM/Debug/Pill Popper.csprojAssemblyReference.cache
*.ide
*.sqlite
